name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: clone
        run: |
          if [[ `git rev-parse --is-inside-work-tree` != "true" ]]; then
              git clone https://github.com/jueti/tailscale-android.git
              pushd tailscale-android
          fi
      - name: clean
        run: git clean -fd
      - name: pull
        run: git reset --hard HEAD && rm -f .git/index.lock && git pull --ff
      - name: modify
        run: |
          sed -i '/b.backend.Start(ipn.Options/,+2d' cmd/tailscale/backend.go
          sed -i '/backend.SetNotifyCallback/a\ \ \ \ \ \ \ \ prefs := ipn.NewPrefs()\n\ \ \ \ \ \ \ \ prefs.ControlURL = "'"${{ secrets.HEADSCALE_URL }}"'"\n\ \ \ \ \ \ \ \ opts := ipn.Options{\n\ \ \ \ \ \ \ \ StateKey: "ipn-android",\n\ \ \ \ \ \ \ \ \ \ \ \ UpdatePrefs: prefs,\n\ \ \ \ \ \ \ \ }\n\ \ \ \ \ \ \ \ return b.backend.Start(opts)' cmd/tailscale/backend.go
          sed -i 's/Sign in with other/Sign in with Headscale/g' cmd/tailscale/ui.go
      - name: build
        run: |
          docker build -t tailscale-android .
          docker run -v ${PWD}:/build/tailscale-android --rm tailscale-android make tailscale-debug.apk
      - name: Upload Release
        uses: softprops/action-gh-release@v1
        if: ${{ success() }}
        with:
          tag_name: latest
          files: tailscale-debug.apk
          release: true
          repository: ${{ github.actor }}/tailscale-android
